<pdiv class="container-fluid" ng-app="receta">
 <div class="panel panel-success">
  <div class="panel-heading">
   <h1>Bacchus Home</h1>
  </div>
 </div>

 <div class="row">

  <div class="col-md-3"> </div>

  <div class="col-md-3">
    <%= link_to posts_path do %>
      <button type="button" class="btn btn-info btn-lg btn-block"> Cigar Blog </button>
    <% end %> 
  </div>
 
  <div class="col-md-3">
     <%= link_to cigars_path do  %>
        <button type="button" class="btn btn-primary btn-lg btn-block">Cigar Master List</button>
     <% end %>
  </div>
 </div>

 <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
     <p class="text-center"> See my reviews of every product</p>
  </div>
  <div class="col-md-3">
    <p class="text-center"> See all of the individual products, with more detailed information about each </p>
  </div> 
 </div>
 

</div>
